
<div class="container">
  <h2>Looking for something to read?</h2>
  <h3>lose yourself in an adventure..</h3>
  <button class="btn" type="button" name="button"><%= link_to 'Read now!', stories_path %></button>
</div>
